
#Forum {
        background-color:whitesmoke;
}
.div-mainbox {
        background-color: white;
        width: 80%;
        padding-top: 7px;
        margin-left: auto;
        margin-right: auto;
        border: 10px;
        border-radius: 10px;
        padding: 5px;
}
.div-contentbox {
        background-color: whitesmoke;
        width: 80%;
        padding-top: 7px;
        margin-left: auto;
        margin-right: auto;
        border: 10px;
        border-radius: 10px;
        padding: 5px;;
}
#zutaten {
        width:50%
}
.setmid {
        margin-left: 25%;
}
#recipe-content {
        width: 50%;
}
iframe{
        width: 70%;
        margin-left:15%;
        height: 500px;
}
body {
        width:100%;
        height:100vh;
        background : linear-gradient(pink,cyan);
        background-size:cover;
}
